/* Style the header of the site, specifically the logo/title and the nave bar. */
header {
  display: flex;
  flex-direction: column;
  background: #1a9494;
  padding-top: 1em;
}

header > h1 {
  text-align: center;
  margin: 0%;
}

/* Custom nav menu styling start. */
header > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

header > ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

header > ul li a:hover {
  background-color: #111; /* Changes the color of the background of links you mouse over in the nav menu */
}
/* Custom nav menu styling end. */

/* Move the numbers in an ordered list to be next to the items, specifically when the list is centered. */
ol {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* Default stylings, applied to the body */
body {
  font-family: 'Share Tech Mono', monospace;
  background-color: rgb(165, 212, 212);
}

/* Styling for the home/intro section via id. */
#home {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

#home-text {
  text-align: center;
  padding-top: 50px;
}

#home img {
  padding-top: 10px;
  align-self: center;
}

/* Styling for the about me section via id. */
#about {
  text-align: center;
  background-image: linear-gradient(to right,rgb(128 ,128, 128), rgb(165, 212, 212), rgb(128 ,128, 128));  
  padding-top: 10px;
  padding-bottom: 10px;
}

#about > ol {
  justify-content: space-evenly;
  counter-reset: itemCount;
}
#about > ol > li {
  display: inline-block;
}
#about > ol > li:before {
  content: "[" counter( itemCount ) "]";
  counter-increment: itemCount;
  padding-right: 0.25em;
  font-weight: bold;
  font-size: 1.25em;
}

/* Styling for the portfolio section via id. */
#portfolio {
  text-align: center;
  padding: 10px
}

#portfolio > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

#portfolio > ul > ul {
    display: inline-block;
    flex: 0 1 auto; /* Default */
    padding: 10px;
    list-style-type: none;
}

#portfolio img {
  height: 150px;
  width: 150px;
}

#portfolio #built {
  font-style: oblique;
}

/* Adjust image button for projects to not have excess borders.*/
#portfolio button {
  border: none;
  padding: 0;
  margin: 0;
  background: rgb(0, 0, 0);
  box-shadow: 5px 10px rgb(189, 188, 188);
}

#portfolio button:hover {
  background: blue;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling for the services section via id if added.*/
#services {
  text-align: center;
}

#services ol {
  list-style: none;
  counter-reset: my-counter;
}

#services ol li {
  counter-increment: my-counter;
  margin-bottom: 10px;
}

#services ol li::before {
  content: counter(my-counter) "]>> ";
  color: darkblue;
  font-weight: bold;
  font-size: 1.25em;
}

/* Styling for the contact section via id. */
#contact {
  text-align: center;
}

#contact > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact-form {
  margin-left: 1em;
}

#contact-info {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

#contact-form fieldset {
  border-style: solid;
  border-color: black;
  border-radius: 16px;
}
#contact-form fieldset div {
  display: flex;
  justify-content: space-between;
}

#contact-form fieldset input,
#contact-form fieldset textarea {
  flex: 2;
}

legend {
  background-color: lightgrey;
  color: darkblue;
  border-radius: 10px;
  padding: 5px;
  border-color: black;
  border-style: solid;
}

#data {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  cursor: text;
}

/* Styling for the foot of the page. */
footer {
  padding-left: 10px;
}

/* Desktop Specific Styling */
@media all and (min-width: 800px) {
  header {
    /* Moves the logo/title to the left and the nav to the right by setting the header container to flexbox and then setting the justify to put space inbetween. */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }

  header h1 {
    padding-left: 10px;
    padding-top: 15px;
  }

  header > ul {
    margin: 0;
    padding: 0;
  }

  header > ul li {
    float: left;
  }

  #home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #home-text {
    text-align: right;
  }

  #home img {
    margin-left: 1em;
  }

  #portfolio ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #contact > div {
    display: flex;
    flex-direction: row;
  }
}

#dm {
  text-align: right;
}

#dmButton {
  background: inherit;
  outline: none;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../portfolio/fonts/opendyslexic-regular.woff2') format('woff2'),
       url('../portfolio/fonts/opendyslexic-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}